@model SSMS.Models.Teacher

@{
    ViewData["Title"] = "Teacher Details";
}

<main>
    <h1>Teacher Details</h1>
    <h2>Information Summary</h2>
    <hr />

    <dl>
        <dt>@Html.DisplayNameFor(model => model.Gender)</dt>
        <dd>@Html.DisplayFor(model => model.Gender)</dd>

        <dt>@Html.DisplayNameFor(model => model.FullNameArabic)</dt>
        <dd>@Html.DisplayFor(model => model.FullNameArabic)</dd>

        <dt>@Html.DisplayNameFor(model => model.FullNameEnglish)</dt>
        <dd>@Html.DisplayFor(model => model.FullNameEnglish)</dd>

        <dt>@Html.DisplayNameFor(model => model.Material)</dt>
        <dd>@Html.DisplayFor(model => model.Material.MaterialId)</dd>

        <dt>@Html.DisplayNameFor(model => model.User)</dt>
        <dd>@Html.DisplayFor(model => model.User.UserId)</dd>
    </dl>

    <nav>
        <a asp-action="Edit" asp-route-id="@Model?.TeacherId">Edit</a>
        <a asp-action="Index">Back to List</a>
    </nav>
</main>
