@model SSMS.Models.Mark

@{
    ViewData["Title"] = "Delete";
}

<main>
    <h1>Delete Mark</h1>
    <p>Are you sure you want to delete this?</p>

    <section>
        <h2>Mark Information</h2>
        <hr />

        <dl>
            <dt>@Html.DisplayNameFor(model => model.Mark1)</dt>
            <dd>@Html.DisplayFor(model => model.Mark1)</dd>

            <dt>@Html.DisplayNameFor(model => model.Class)</dt>
            <dd>@Html.DisplayFor(model => model.Class.ClassId)</dd>

            <dt>@Html.DisplayNameFor(model => model.Material)</dt>
            <dd>@Html.DisplayFor(model => model.Material.MaterialId)</dd>

            <dt>@Html.DisplayNameFor(model => model.Student)</dt>
            <dd>@Html.DisplayFor(model => model.Student.StudentId)</dd>
        </dl>
    </section>

    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentId" />
        <input type="hidden" asp-for="ClassId" />
        <input type="hidden" asp-for="MaterialId" />

        <input type="submit" value="Delete" />
        <a asp-action="Index">Back to List</a>
    </form>
</main>
