@model SSMS.Models.Mark

@{
    ViewData["Title"] = "Details";
}

<main>
    <h1>Mark Details</h1>

    <section>
        <h2>Mark</h2>
        <hr />

        <dl>
            <dt>@Html.DisplayNameFor(model => model.Mark1)</dt>
            <dd>@Html.DisplayFor(model => model.Mark1)</dd>

            <dt>@Html.DisplayNameFor(model => model.Class)</dt>
            <dd>@Html.DisplayFor(model => model.Class.ClassId)</dd>

            <dt>@Html.DisplayNameFor(model => model.Material)</dt>
            <dd>@Html.DisplayFor(model => model.Material.MaterialId)</dd>

            <dt>@Html.DisplayNameFor(model => model.Student)</dt>
            <dd>@Html.DisplayFor(model => model.Student.StudentId)</dd>
        </dl>
    </section>

    <nav>
        @Html.ActionLink("Edit", "Edit", new
            {
                studentId = Model.StudentId,
                classId = Model.ClassId,
                materialId = Model.MaterialId
            })

        <a asp-action="Index">Back to List</a>
    </nav>
</main>
