@model SSMS.Models.Student

@{
    ViewData["Title"] = "Student Details";
}

<main>
    <h1>Student Details</h1>
    <h2>Student</h2>
    <hr />

    <dl>
        <dt>@Html.DisplayNameFor(model => model.Gender)</dt>
        <dd>@Html.DisplayFor(model => model.Gender)</dd>

        <dt>@Html.DisplayNameFor(model => model.FullNameArabic)</dt>
        <dd>@Html.DisplayFor(model => model.FullNameArabic)</dd>

        <dt>@Html.DisplayNameFor(model => model.FullNameEnglish)</dt>
        <dd>@Html.DisplayFor(model => model.FullNameEnglish)</dd>

        <dt>@Html.DisplayNameFor(model => model.Age)</dt>
        <dd>@Html.DisplayFor(model => model.Age)</dd>

        <dt>@Html.DisplayNameFor(model => model.Class)</dt>
        <dd>@Html.DisplayFor(model => model.Class.ClassId)</dd>

        <dt>@Html.DisplayNameFor(model => model.User)</dt>
        <dd>@Html.DisplayFor(model => model.User.UserId)</dd>
    </dl>

    <nav>
        <a asp-action="Edit" asp-route-id="@Model?.StudentId">Edit</a>
        <a asp-action="Index">Back to List</a>
    </nav>
</main>
